<div class="footer">
	<div class="gauche">
		CHANTIER école<br/>
		<a href="mailto:contact.national@chantierecole.org">contact.national@chantierecole.org</a><br/>
		Tél. : 01 48 07 52 10
	</div>
	<div class="droite">
		75018 PARIS<br/>
		<a href="http://www.chantierecole.org ">www.chantierecole.org</a><br/>
		Fax : 01 48 07 52 11
	</div>
	<div class="milieu">
		<img src="{{ asset('img/logos/logo-UE2.jpg', absolute=true ) }}" alt="logo Union Européenne"/><br/>
		119-121 rue Damrémont
	</div>
</div>