<div class="logo">
	<img src="{{ webRootDir~asset('img/logos/logo-ACI.jpg') }}" class="attestation_logo" alt="logo atelier chantier insertion"/>
	<img src="{{ webRootDir~asset('img/logos/logo-CENATIONAL.jpg') }}" class="attestation_logo" alt="logo chantier école national"/>
</div>

<div class="titre">
	<h2>CERTIFICATION DE QUALIFICATION PROFESSIONNELLE ( C.Q.P.) <br/> SALARIE POLYVALENT DE LA BRANCHE PROFESSIONNELLE DES A.C.I.</h2>
</div>

<br/><br/>