# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     db
    database_port:     ~
    database_name:     ceofesa
    database_user:     ceofesa
    database_password: ceofesa
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host: smtp.chantierecole.org
    mailer_user: webmestre@chantierecole.org
    mailer_password:   ~
    mailer_port: 587

    locale:            fr

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    wkhtmltopdf_path: /usr/bin/wkhtmltopdf
