/* Navbar bottom border disabled by default */
.navbar {
  border-bottom: 1px solid transparent; }

/* Header button states - text colors */
.header-btns > div > button:focus {
  color: #666; }

.header-btns > div > button:hover {
  color: #0094d2; }

/**/

.panel .form-horizontal .control-label {
    padding: 0px;
    line-height: 16px;
}

.panel .form-horizontal button{
    float: right;
}

.panel .radio {
    width: auto;
    margin-left: 25px;
}

    .panel .radio input[type="radio"] {
        opacity: 100;
    }

.panel hr {
    margin-top: 0px;
    margin-bottom: 20px;
}

#fos_user_registration_form td {
    padding: 5px 10px;
}

/* Page de connexion */

.login-page{}

    .login-page .container .row {
        text-align: center;
    }

        .login-page .container .row a {
            margin: 0px 5px;
        }

        .login-page .container .row .btn-xs {
            width: 400px; 
        }


.requser{
    width: 270px;
    text-align: right;
    margin: 10px 50px;
}
    .requser input, .requser select  {
        width: 200px;
    }
    .requser label, .requser input, .requser select {
        padding: 3px 0px;
        margin: 6px 0px;
    }
    .requser button {
        margin: 15px 0px 0px 5px;
    }

.parcours-forms {
}
    .parcours-forms .form-group > .col-sm-2 {
        width: 100%;
        text-align: left;
        padding: 0px 25px;
    }
    .parcours-forms .col-sm-10 {
        width: 100%;
    }

#ceofesabundle_devis_devParcours {
}
    #ceofesabundle_devis_devParcours .form-group {
        position: relative;
        width: auto;
        border: 1px solid;
        margin-top: 10px;
    }
        #ceofesabundle_devis_devParcours .form-group .form-group {
            border: none;
            margin: 0px;
            display: inline-block;
            margin-bottom: 2px;
            height: auto;
        }
            #ceofesabundle_devis_devParcours .form-group .form-group:first-child {
                width: 0%;
            }
            #ceofesabundle_devis_devParcours .form-group .form-group:last-child .col-sm-10 {
                width: 300px;
            }

        #ceofesabundle_devis_devParcours .form-group .col-sm-10 {
            width: 100%;
            padding: 10px;
            text-align: center;
        }

            #ceofesabundle_devis_devParcours .form-group .form-group .col-sm-10 {
                padding-top: 0px;
                border: none;
            }
                #ceofesabundle_devis_devParcours .form-group .form-group .col-sm-10 input[type=text] {
                    width: 80px;
                }


        #ceofesabundle_devis_devParcours .form-group .col-sm-2 {
            padding: 7px 10px;
            background: #555;
            color: #fff;
        }

            #ceofesabundle_devis_devParcours .form-group .form-group .col-sm-2 {
                background: none;
                padding: 0;
                color: #bbb;
                position: absolute;
                bottom: -10px;
                left: 0px;
                text-align: center;
            }

        #ceofesabundle_devis_devParcours .form-group .btn {
            height: 5px;
            padding: 10px;
            line-height: 1px;
            position: absolute;
            right: 16px;
            top: 3px;
        }

.form-horizontal > .form-group {
    margin-bottom: 0px;
}

#fos_user_registration_form td, #fos_user_registration_form td select {
    width: 150px;
}

.record_properties th {
    width: 210px;
}

.spacing-button {
    margin: 0 10px;
}


.btn .caret {
    margin-left: 4px;
}

.alert .glyphicon {
    padding-right: 10px;
}

.select-session-form #form_voir {
    margin-top: 23px;
}

.list-session{}
    .list-session th {
        text-align: center;
    }
    .list-session .table-responsive {
        max-height: 600px;
        overflow: auto;
    }
    .list-session > table > tbody > tr > td:first-child {
        padding: 0;
    }

.detail-session {}
    .detail-session label {
        margin: 10px 0 5px;
    }
    .detail-session input {
        width: 100%;
    }
    .detail-session .modifDetailBtn{
        padding-top: 20px;
        float: right;
    }

.listFormateur {
    margin: 20px 0;
}
    .listFormateur td {
        width: 100%;
        padding: 5px 0;
        border-bottom: 1px solid #999;
    }
    .formateur-session p {
        font-size: 12px;
    }

.info-accueil .alert {
    margin: 0;
}

.participant-session {}
.participant-session td {
    padding: 5px 0px;
}

.ajout-participant {
    background: #fff;
    border: #999 solid 0.5px;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.ajout-participant #form_nbHeures {
    float:left;
    width: 120px;
}
.ajout-participant #form_nbHeures input {
    width: 50px;
}
.ajout-participant button {
    width: 100%;
}