{% extends '::layout.html.twig' %}
{% block body %}
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-visible">
				 <div class="panel-body">
					
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
{% endblock %}