<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css', absolute=true ) }}">
	</head>
	<body id="print">
		<div class="page">
			<img src="{{ asset('img/logos/logo-CENATIONAL.jpg', absolute=true ) }}" class="devis_logo" alt="logo chantier école national"/>
			<img src="{{ asset('img/logos/logo-UE.jpg', absolute=true ) }}" class="devis_logo" alt="logo union européenne"/>
		</div>
	</body>
</html>