<!DOCTYPE html>
<html>
    <head>
        <title>Devis</title>
		<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css', absolute=true ) }}">
	</head>
	<body id="print">

		<div class="page">
			{{ logo }}
			<img src="{{ asset('img/logos/logo-CENATIONAL.jpg', absolute=true ) }}" class="devis_logo" alt="logo chantier école national"/>
			}
		</div>
		
	</body>
</html>