{% extends "::layout.html.twig" %}
{% block body %}
      <div class="row">
        <div class="col-md-12">
          <div class="panel">
            <div class="panel-heading">
              <div class="panel-title">
                <i class="fa fa-smile-o"></i> Bienvenue 
              </div>
            </div>
            <div class="panel-body">
              <p> Bienvenue sur l'intranet d'OFESA et de CHANTIER ECOLE </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12"> </div>
            <div class="col-md-12">
              <div class="panel info-accueil">
                <div class="panel-heading">
                  <div class="panel-title"> <i class="fa fa-bar-chart-o"></i> Informations sur le site </div>
                </div>
                <div class="panel-body">
                  <p><i class="fa fa-arrow-circle-o-up"></i> Mise à jour - 21/07/2015 : Il est maintenant possible de télécharger l'attestation d'inscription des salariés une fois le devis validé</p>
                  <p><i class="fa fa-arrow-circle-o-up"></i> Mise à jour - 10/07/2015 : Des stagiaires ont été créés en double. Attention de vérifier qu'un stagiaire n'existe pas déjà avant de le créer. Pour éviter ce genre de problème à l'avenir, il n'est plus possible de rajouter deux stagiaires ayant la même association "nom/prénom/code postal". Il n'est plus possible de rentrer autre chose que des chiffres dans le champ "numéro de sécurité sociale"</p>
                  <br/>
                  <div class="alert alert-warning"> En cas de problème ou de bug avec cette application, merci de contacter une des deux adresses mail suivantes : 
                    <a href="mailto:developpeur@chantierecole.org">developpeur@chantierecole.org</a> - <a href="mailto:webmestre@chantierecole.org">webmestre@chantierecole.org</a>
                  </div>
                </div>
                <div class="panel-footer">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
  

<!-- End: Main --> 
{% endblock %}
{% block javascripts %}
{% endblock %}