{% extends '::layout.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-visible">
            <div class="panel-heading">
                <div class="panel-title hidden-xs"><span class="glyphicon glyphicon-list"></span> Liste des {% if structures is not empty and structures[0].strType.styType == 'Structure' %}Structures{% else %}Sous-traitants{% endif %} </div>
            </div>
            {% include ':Structure:partial_table.html.twig' with {'entities': structures, 'tableId': 'datatableStructures'} %}
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('#datatableStructures').DataTable();
        })
    </script>
{% endblock %}
